 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #589ED9;
}

.container{
  margin: 0 auto;
  text-align: center;
  margin-top: 30px;
  color: white;
  width: 300px;
}

.heading{
  margin-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-weight: bold;
}

.inputf{
  background-color: #ffffff;
  border-radius: 10px;
  margin-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
  
}

.inputf input{
  width: 100%;
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 0;
  margin: 0;
  padding-top: 18px;
  padding-bottom: 18px;
  text-indent: 20px;   
  font-size: 15px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  font-family: 'Open Sans', sans-serif;
  border-bottom: 1px solid black;
}

.button{
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
}

.button button{
  padding: 20px 10px;
  width: 100%;
  background-color: #2186D4;
  border: none;
  outline: none;
  color: white;
  border-radius: 10px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
}

.button button:hover{
  background-color: black;
}

.tab {
  display: flex;
  gap: 30px;
  max-width: 350px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  background-color: rgb(33 134 212);
  border-radius: 20px;
  font-weight: bold;
  padding: 15px;
  cursor: pointer;
  user-select: none;
  margin-top: 20px;
}


.my{
  background-color: #fefefe;
    margin: 0% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    text-align: center;
    overflow-x: auto;
    overflow-y: auto;
}

td {
  border:1px solid black;
  background-color: lightblue;
}

tr{
  text-align: center;
}

th{
  border:1px solid black;
  background-color: rgb(12, 173, 227);
}
table{
  margin-top:20px;
  text-align: center;
  border:2px solid black;
  width: 100%;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.btn{
  float: right;
}

.btn button{
  margin-right: 5px;
  padding: 5px;
  
}